background-opacity = 1
font-size = 12
theme = dark:Adventure,light:Desert
unfocused-split-opacity = 0.4
window-theme = dark

cursor-style = block
cursor-style-blink = true
mouse-hide-while-typing = true
quit-after-last-window-closed = true
scrollback-limit = 1073741824
window-height = 45
window-save-state = always
window-width = 112
window-padding-x = 10

# disable ligatures
font-feature = -calt
font-feature = -liga
font-feature = -dlig

keybind = ctrl+enter=unbind
keybind = ctrl+shift+f=toggle_fullscreen
