*.dylib
*.eld
*.eln
.DS_Store
/config/btop/
/config/emacs/.cache/
/config/emacs/.lsp-session-v1
/config/emacs/auto-save-list/
/config/emacs/backups/
/config/emacs/bookmarks
/config/emacs/devdocs/
/config/emacs/eln-cache/
/config/emacs/elpa/
/config/emacs/eshell/
/config/emacs/forge-database.sqlite
/config/emacs/org-persist/
/config/emacs/places
/config/emacs/projects
/config/emacs/recentf
/config/emacs/request/
/config/emacs/slim/eln-cache/
/config/emacs/straight/
/config/emacs/tramp
/config/emacs/transient/
/config/emacs/tree-sitter/
backups
custom.el
history
places
projects
recentf
