/emacs/tree-sitter/
/emacs/straight/
/emacs/recentf
/emacs/projects
/emacs/places
/emacs/history
/emacs/eln-cache/
/emacs/bookmarks
/emacs/.lsp-session-v1
/emacs/.cache/
/emacs/eshell/
/emacs/denote/
/gem/
