/emacs/.cache/
/emacs/eln-cache/
/emacs/.emacs.desktop*
/emacs/.lsp-session-v1
/emacs/.mc-lists.el
/emacs/auto-save-list/
/emacs/backups/
/emacs/bookmarks
/emacs/denote/
/emacs/eln-cache/
/emacs/eshell/
/emacs/history
/emacs/notes/
/emacs/places
/emacs/projects
/emacs/recentf
/emacs/straight/
/emacs/transient/
/emacs/tree-sitter/
/emacs/viper

/gem/
/btop/
/github-copilot/
/emacs/custom.el
/tmux/plugins/
/emacs/elpa/
/enchant/
/emacs/.org-id-locations
/emacs/forge-database.sqlite
/emacs/ellama-sessions/
/emacs/type-break
/ghostty/custom.config
/emacs/ellama/
/ghostty/config
*.eln
/config/emacs/bookmarks
/config/emacs/history
/config/emacs/recentf
/config/emacs/places
/config/emacs/projects
/config/emacs/straight/
/config/emacs/transient/
/config/emacs/tree-sitter/
/config/emacs/.cache/
/config/emacs/.lsp-session-v1
/config/emacs/eln-cache/
