background-opacity = 0.9
font-size = 13
theme = dark:Adventure,light:Desert
unfocused-split-opacity = 0.4
window-theme = dark

cursor-style = block
cursor-style-blink = true
mouse-hide-while-typing = true
quit-after-last-window-closed = true
scrollback-limit = 1073741824
window-height = 45
window-save-state = always
window-width = 120
window-padding-x = 0

# disable ligatures
font-feature = -calt
font-feature = -liga
font-feature = -dlig

keybind = super+;>0=close_surface
keybind = super+;>1=toggle_split_zoom
keybind = super+;>2=new_split:right
keybind = super+;>3=new_split:down
keybind = super+;>equal=equalize_splits
keybind = super+h=goto_split:left
keybind = super+j=goto_split:down
keybind = super+k=goto_split:up
keybind = super+l=goto_split:right
keybind = super+o=toggle_quick_terminal
keybind = super+shift+d=new_split:up
keybind = super+;>y=write_screen_file:paste
keybind = page_up=jump_to_prompt:-1
keybind = page_down=jump_to_prompt:1
